// Fonts families
$playfair-display: var(--font-playfair-display);
$public-sans: var(----font-public-sans);

// **Colors**
// Blue
$color-blue-100: #c1dae4;
$color-blue-200: #a2c7d6;
$color-blue-300: #81b3c7;
$color-blue-400: #61a0ba;
$color-blue-500: #408dab;
$color-blue-600: #20799d;
$color-blue-700: #05658b;
$color-blue-800: #045171;
$color-blue-900: #033f56;
$color-blue-1000: #022d3f;

// Red
$color-red-100: #ebd0d0;
$color-red-200: #e0b7b7;
$color-red-300: #d59e9e;
$color-red-400: #ca8686;
$color-red-500: #bf6c6c;
$color-red-600: #b45353;
$color-red-700: #a73636;
$color-red-800: #981414;
$color-red-900: #7c0000;
$color-red-1000: #5c0000;

// Green (Primary)
$color-green-100: #c1dccb;
$color-green-200: #a1cab1;
$color-green-300: #7fb895;
$color-green-400: #61a67c;
$color-green-500: #3f9461;
$color-green-600: #1e8145;
$color-green-700: #016d2c;
$color-green-800: #015823;
$color-green-900: #01441b;
$color-green-1000: #003114;

// Gray (Neutral)
$color-gray-10: #fefefe;
$color-gray-50: #f3f5f4;
$color-gray-100: #d5d7d6;
$color-gray-200: #bfc2c0;
$color-gray-300: #a9adab;
$color-gray-400: #949996;
$color-gray-500: #808583;
$color-gray-600: #6d7270;
$color-gray-700: #5a5f5d;
$color-gray-800: #484d4a;
$color-gray-900: #373b39;
$color-gray-1000: #282a29;
$color-gray-1100: #161716;

// Gradients
$color-green-gradient-900-800: linear-gradient(to bottom, #01441b 0%,#015823 100%);
