@import "../variables";

.wrapper {
    display: grid;
    grid-template-columns: 2fr 5fr;
    width: 100%;
    box-sizing: border-box;
    gap: $spacing-large;
    padding: $spacing-large;
    background: $color-green-gradient-900-800;
    border-radius: $spacing-large;
}

.cover {
    padding: $spacing-small;
    background-color: $color-green-100;
    border-radius: $spacing-small;

    .cover_img {
        height: 100%;
        width: 100%;
    }
}

.info {
    .title {
        all: unset;
        display: block;
        font-family: $playfair-display;
        font-size: $font-size-h0;
        font-weight: 700;
        color: $color-gray-50;
    }

    .author {
        all: unset;
        display: block;
        font-family: $public-sans;
        font-size: $font-size-small;
        font-weight: 100;
        color: $color-green-200; 
    }
}