@import 'variables';

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F2F2F2;
    touch-action: pan-y;
}

.border {
    margin: $spacing-huge;
    margin-bottom: calc($spacing-huge * 6);
}